.home {
  display: grid;
  grid:
    "left right" auto
    / 1fr 2fr;
}

main div:first-child {
  line-height: 25px;
}
main div:first-child h1 {
text-align: center;
}
main div:last-child {
  /* background: green */
}
