div.App {
  display: grid;
  grid:
		"header" auto
		"content" auto
		"footer" auto
    /auto;
}
.Nav-header, main {
  padding-left: 20%;
  padding-right: 20%;
}
.Nav-header {
	grid-area: header;
}
main {
	grid-area: content;
}
.App-footer {
	grid-area: footer;
}
