div.App {
  display: grid;
  grid:
		"header" auto
		"content" auto
		"footer" auto
    /auto;
}
.Nav-header {
	grid-area: header;
  padding: 10px 20%;
}
.App-content {
	grid-area: content;
}
.App-footer {
	grid-area: footer;
}
